<app-navbar></app-navbar>
<div class="container">
    <p class="row vname">VEGIES</p>
    <div class="row veg">
      <div class="col-sm-4">
        <img class="img" src="assets/image/vegb.png" alt="Veg Biryani" style="width: 230px; height: 270px;">
      <p>Veg Biryani</p>
        <button mat-raised-button (click)="respond('Veg Biryani')">Kart</button>
      </div>
      <div class="col-sm-4">
        <img class="img" src="assets/image/aloo.png" alt="Aloo Sabzi" style="width: 230px; height: 270px;">
        <p>Aloo Sabzi</p>
        <button mat-raised-button (click)="respond('Aloo Sabzi')">Kart</button>
      </div>
      <div class="col-sm-4">
        <img class="img" src="assets/image/Chole.jpg" alt="Chole" style="width: 230px; height: 270px;">
        <p>Chole Bhature</p>
        <button mat-raised-button (click)="respond('Chole Bhature')">Kart</button>
      </div>
    </div>
  
    <p class="row vname">NON-VEGIES</p>
    <div class="row nveg">
      <div class="col-sm-4">
        <img class="img" src="assets/image/chikb.png" alt="Chicken Biryani" style="width: 230px; height: 270px;">
        <p>Chicken Biryani</p>
        <button mat-raised-button (click)="respond('Chicken Biryani')">Kart</button>
      </div>
      <div class="col-sm-4">
        <img class="img" src="assets/image/chill.png" alt="Chilli Chicken" style="width: 230px; height: 270px;">
        <p>Chilli Chicken</p>
        <button mat-raised-button (click)="respond('Chilli Chicken')">Kart</button>
      </div>
      <div class="col-sm-4">
        <img class="img" src="assets/image/fish.png" alt="Fish" style="width: 230px; height: 270px;">
        <p>Fish Cutlet</p>
        <button mat-raised-button (click)="respond('Fish Cutlet')">Kart</button>
      </div>
    </div>


    <p class="row vname">Chinese</p>
    <div class="row chinese">
      <div class="col-sm-4">
        <img class="img" src="assets/image/6.png" alt="Burger" style="width: 230px; height: 270px;">
        <p>Burger</p>
        <button mat-raised-button (click)="respond('Burger')">Kart</button>
      </div>
      <div class="col-sm-4">
        <img class="img" src="assets/image/8.png" alt="Fries" style="width: 230px; height: 270px;">
        <p>Fries</p>
        <button mat-raised-button (click)="respond('Fries')">Kart</button>
      </div>
      <div class="col-sm-4">
        <img class="img" src="assets/image/9.png" alt="Sandwich" style="width: 230px; height: 270px;">
        <p>Sandwich</p>
        <button mat-raised-button (click)="respond('Sandwich')">Kart</button>
      </div>
    </div>
  
  </div>
  
  <app-footer></app-footer>